.ytcf-switch {
  position: relative;
  display: inline-block;
}
.ytcf-switch-input {
  display: none;
}
.ytcf-switch-label {
  display: block;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.ytcf-switch-label::before,
.ytcf-switch-label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
}
.ytcf-switch-label::before {
  width: 100%;
  height: 100%;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.ytcf-switch-label::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
.ytcf-switch-input:checked + .ytcf-switch-label::before {
  background-color: #89c12d;
}
.ytcf-switch-input:checked + .ytcf-switch-label::after {
  left: 24px;
}
.ytcf-wrapper {
  display: flex;
  margin: 1em 0;
  align-items: center;
}
.ytcf-switch,
.ytcf-label {
  display: inline-block;
}
.ytcf-label {
  font-size: 12pt;
  margin-left: 10px;
}

.ytcf-select {
  margin-left: 10px;
  margin-bottom: 3px;
}

.ytcf-select > select {
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.ytcf-enabled .ytd-comment-thread-renderer.ar,
.ytcf-enabled .ytd-comment-thread-renderer.am,
.ytcf-enabled .ytd-comment-thread-renderer.bg,
.ytcf-enabled .ytd-comment-thread-renderer.bn,
.ytcf-enabled .ytd-comment-thread-renderer.ca,
.ytcf-enabled .ytd-comment-thread-renderer.cs,
.ytcf-enabled .ytd-comment-thread-renderer.da,
.ytcf-enabled .ytd-comment-thread-renderer.de,
.ytcf-enabled .ytd-comment-thread-renderer.el,
.ytcf-enabled .ytd-comment-thread-renderer.en,
.ytcf-enabled .ytd-comment-thread-renderer.es,
.ytcf-enabled .ytd-comment-thread-renderer.et,
.ytcf-enabled .ytd-comment-thread-renderer.fa,
.ytcf-enabled .ytd-comment-thread-renderer.fi,
.ytcf-enabled .ytd-comment-thread-renderer.fil,
.ytcf-enabled .ytd-comment-thread-renderer.fr,
.ytcf-enabled .ytd-comment-thread-renderer.gu,
.ytcf-enabled .ytd-comment-thread-renderer.he,
.ytcf-enabled .ytd-comment-thread-renderer.hi,
.ytcf-enabled .ytd-comment-thread-renderer.hr,
.ytcf-enabled .ytd-comment-thread-renderer.hu,
.ytcf-enabled .ytd-comment-thread-renderer.id,
.ytcf-enabled .ytd-comment-thread-renderer.it,
.ytcf-enabled .ytd-comment-thread-renderer.ja,
.ytcf-enabled .ytd-comment-thread-renderer.kn,
.ytcf-enabled .ytd-comment-thread-renderer.ko,
.ytcf-enabled .ytd-comment-thread-renderer.lt,
.ytcf-enabled .ytd-comment-thread-renderer.lv,
.ytcf-enabled .ytd-comment-thread-renderer.ml,
.ytcf-enabled .ytd-comment-thread-renderer.mr,
.ytcf-enabled .ytd-comment-thread-renderer.ms,
.ytcf-enabled .ytd-comment-thread-renderer.nl,
.ytcf-enabled .ytd-comment-thread-renderer.no,
.ytcf-enabled .ytd-comment-thread-renderer.pl,
.ytcf-enabled .ytd-comment-thread-renderer.pt,
.ytcf-enabled .ytd-comment-thread-renderer.ro,
.ytcf-enabled .ytd-comment-thread-renderer.ru,
.ytcf-enabled .ytd-comment-thread-renderer.sk,
.ytcf-enabled .ytd-comment-thread-renderer.sl,
.ytcf-enabled .ytd-comment-thread-renderer.sr,
.ytcf-enabled .ytd-comment-thread-renderer.sv,
.ytcf-enabled .ytd-comment-thread-renderer.sw,
.ytcf-enabled .ytd-comment-thread-renderer.ta,
.ytcf-enabled .ytd-comment-thread-renderer.te,
.ytcf-enabled .ytd-comment-thread-renderer.th,
.ytcf-enabled .ytd-comment-thread-renderer.tr,
.ytcf-enabled .ytd-comment-thread-renderer.uk,
.ytcf-enabled .ytd-comment-thread-renderer.vi,
.ytcf-enabled .ytd-comment-thread-renderer.zh {
  display: none;
}
